*{
    padding:0px;
    margin: 0px;
}
body{
    background-color: #000;
}
header{
    background-color: #805;
    text-align: center;
    padding: 20px;
}

#b1{
    background-color: #805;
    border:#805 ;
    float:left;
    margin-top: -11px;

}
#imagen1{
 width: 40px;
 border-radius: 10px;
 border: 1px solid #000;
 margin: 2px;
 }

#inicio{
    border-radius: 10px;
    background-color: #805;
    border: 0px solid #fff;
    color: #fff;
    font-size: large;
}

#nosotros{
    border-radius: 10px;
    background-color: #805;
    border: 0px solid #fff;
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
    font-size: large;
}

#perfil{
    border-radius: 10px;
    background-color: #805;
    border: 0px solid #fff;
    color: #fff;
    font-size: large;
}

h1{
    color: #fff;
    font-size:xx-large;
    text-align: center;
    margin-top:20px ;
    text-decoration:underline;
}
.campeon{
    border: #fff  2px solid;
    border-radius: 10px;
    padding-bottom: 500px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    
}
.city{
    width: 800px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 10px ;
}

.info_city{
    float: right;
    color: #fff;
    text-align: justify;
    margin-right: 150px;
    margin-top: 150px;
    border: #fff  2px solid;
    border-radius: 10px;
    padding: 20px;
}
   

footer{
    background-color: #805;
    color: #fff;
    text-align: center;
    margin-top:38vh; ;
    padding: 5px;
}